h1{
	text-align: center;
}
table{
	width: 600px;
	text-align: center;
}
div{
	border-radius:25px;	
	width:625px;			
	background-color:#ffbf7e;
}
button{
	width:200px;
	height:56px;
	background-color:#db8400;
	border-radius:10px;
}
hr{
	color: #db8400;
}
#title{
	width: 600px;
	text-align: center;
	text-decoration: underline overline;
}
#hora{
	text-align:center;
}
#content{
	margin-left: 2px;
	margin-right: 2px;
	text-align: justify;
	font-size: 16px;
	line-height: 125%;
}
body{
	background-image: url("https://img.freepik.com/free-photo/leather-texture-for-background_1385-1136.jpg?size=338&ext=jpg");
	background-size: 2.5%;
}
img {
    border: 1px solid #db8400;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
#borda{
	border-style:solid;
	border-width: thick;
	border-color: dark red;
}
button:hover{
	
	background-color:Lightgray;
	cursor: pointer;

}
#resultados{
	background-color: #ffbf7e;
	border-style: dotted;
	width:5cm;
}